<ul class="nav side-menu">
    <li><a href="/"><i class="fa fa-home"></i> Início </a></li>
    <li><a href="/produtos"><i class="fa fa-barcode"></i> Produtos </a></li>
    <li><a><i class="fa fa-users"></i> Clientes <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/clientes">Consultar</a></li>
            <li><a href="/clientes/novo">Cadastrar</a></li>
        </ul>
    </li>
    <li><a><i class="fa fa-desktop"></i> DAVs <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="/davs">Consultar</a></li>
            <li><a href="/davs/novo">Cadastrar</a></li>
        </ul>
    </li>
</ul>