<!DOCTYPE html>
<html lang="pt">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}} </title>
	<!-- Bootstrap -->
	<link href="./vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="./vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="./vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- Animate.css -->
	<link href="./vendors/animate.css/animate.min.css" rel="stylesheet">
	<!-- Custom Theme Style -->
	<link href="./build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
	<div>
		<a class="hiddenanchor" id="signup"></a>
		<a class="hiddenanchor" id="signin"></a>
		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<form action="/login" method="post">
						<h1>Login de Acesso</h1>
						{{#if message}}
							<div class="alert alert-danger">{{message}}</div>
						{{/if}}
						<div>
							<input id="sgiLoginTextBox" type="text" class="form-control" placeholder="Código" name="username" required="" />
						</div>
						<div>
							<input id="sgiPasswordTextBox" type="password" class="form-control" placeholder="Senha" name="password" required="" />
						</div>
						<div>
							<button id="btnDoSGILogin" class="btn btn-default" type="submit">Login</button>
							<a class="reset_pass" href="#">Recuperar Senha!</a>
						</div>
						<div class="clearfix"></div>
						<div class="separator">
							<p class="change_link">Ainda não tem conta?
								<a href="#signup" class="to_register"> Crie uma Conta </a>
							</p>
							<div class="clearfix"></div>
							<br />
							<div>
								<h1><i class="fa fa-paw"></i> Softek Automação Comercial </h1>
								<p>©2017 Todos os Direitos Reservados.</p>
							</div>
						</div>
					</form>
				</section>
			</div>
			<div id="register" class="animate form registration_form">
				<section class="login_content">
					<form action="/users/register" method="POST">
						{{#if message}}
							<div class="alert alert-danger">{{message}}</div>
						{{/if}}
						<h1>Nova Conta</h1>
						<div>
							<input type="text" class="form-control" placeholder="Nome" required="" />
						</div>
						<div>
							<input type="email" class="form-control" placeholder="Email" required="" />
						</div>
						<div>
							<input type="password" class="form-control" placeholder="Senha" required="" />
						</div>
						<div>
							<button class="btn btn-default" type="submit">Enviar</a>
						</div>
						<div class="clearfix"></div>
						<div class="separator">
							<p class="change_link">Já tem conta?
								<a href="#signin" class="to_register"> Fazer Login </a>
							</p>
							<div class="clearfix"></div>
							<br />
							<div>
								<h1><i class="fa fa-paw"></i> Softek Automação Comercial </h1>
								<p>©2017 Todos os Direitos Reservados.</p>
							</div>
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="/./vendors/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="/./vendors/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script src="/./vendors/fastclick/lib/fastclick.js"></script>
	<!-- NProgress -->
	<script src="/./vendors/nprogress/nprogress.js"></script>
	<!-- jQuery Cookie -->
	<script src="/./vendors/jquery.cookie/js.cookie.js"></script>
	<!-- A -->
	<script src="/./vendors/amplify/amplify.min.js"></script>
	<!-- Page -->
	<!--<script src="/./js/pages/login.js"></script>-->
	
</body>

</html>